:root {
    --primary-color: #184F6F;
    --left-column-background: #ECECEC;
    --white: #fff;
    --black: #000; 
    --skyblue: #108DC9;
}
 

 
/* Zmienna lokalna która będzie działać tylko w p  */
/* p {
    --red: red;
    color: var(--red);
} */
/* To nie będzie działać  */
/* h1 {
    color: var(--red);
} */

